@import url('https://fonts.googleapis.com/css2?family=Lora&family=Roboto+Condensed:wght@300&family=Secular+One&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.content-container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right, #0C164D , #190B22);
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-top: 4rem;
    padding-right: 3rem;
    font-size: 1.5rem;
}
.title {
    font-family: 'Secular One', sans-serif;
    color: #fff;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.subtitle {
    color: #FFD029;
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 10px;
    text-transform: uppercase;
}

.planets-container {
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    height: 80%;
    color: #fff;
}

.planet-Solen {
    position: absolute;
    background-color: #FFD029;
    height: 800px;
    width: 800px;
    border-radius: 100%;
    left: -43rem;
    cursor: pointer;
}
.planet-Merkurius {
    background-color: #888888;
    padding: .5rem;
    border-radius: 100%;
    margin: 0 6rem 0 10rem;
    cursor: pointer;
}
.planet-Venus {
    background-color: #E7CDCD;
    padding: 1.1rem;
    border-radius: 100%;
    margin-right: 6rem;
    cursor: pointer;
}
.planet-Jorden {
    background-color: #428ED4;
    padding: 1.2rem;
    border-radius: 100%;
    margin-right: 6rem;
    cursor: pointer;
}
.planet-Mars {
    background-color: #EF5F5F;
    padding: .5rem;
    border-radius: 100%;
    margin-right: 6rem;
    cursor: pointer;
}
.planet-Jupiter {
    background-color: #E29468;
    padding: 5rem;
    border-radius: 100%;
    margin-right: 6rem;
    cursor: pointer;
}
.planet-Saturnus {
    background-color: #C7AA72;
    padding: 4rem;
    border-radius: 100%;
    margin-right: 6rem;
    cursor: pointer;
}
.ellipse {
    position: absolute;
    left: 53rem;
    transform: rotate(-30deg);
    background-color: #fff;
    opacity: 40%;
    width: 218.23px;
    height: 5.5px;
    border-radius: 100%;
    cursor: pointer;
}
.planet-Uranus {
    background-color: #C9D4F1;
    padding: 2rem;
    border-radius: 100%;
    margin-right: 6rem;
    cursor: pointer;
}
.planet-Neptunus {
    background-color: #7A91A7;
    padding: 2rem;
    border-radius: 100%;
    cursor: pointer;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: none;
}

.planet-information-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
}

.eclipse-Solen {
    position: absolute;
    left: -52rem;
    background-color: #FFD029;
    padding: 10rem;
    border-radius: 100%;
    height: 1000px;
    width: 1000px;
    top: -6rem;
    border: 3rem solid #96812c4a;
    box-shadow: 3rem 1px 1px #c99f167c;
}
.eclipse-Merkurius {
    position: absolute;
    left: -52rem;
    background-color: #888888;
    padding: 10rem;
    border-radius: 100%;
    height: 1000px;
    width: 1000px;
    top: -6rem;
    border: 3rem solid #63615b4a;
    box-shadow: 3rem 1px 1px #6e6e6b44;
}
.eclipse-Venus {
    position: absolute;
    left: -52rem;
    background-color: #E7CDCD;
    padding: 10rem;
    border-radius: 100%;
    height: 1000px;
    width: 1000px;
    top: -6rem;
    border: 3rem solid #e6c3c3;
    box-shadow: 3rem 1px 1px #dbb4b4;
}
.eclipse-Jorden {
    position: absolute;
    left: -52rem;
    background-color: #428ED4;
    padding: 10rem;
    border-radius: 100%;
    height: 1000px;
    width: 1000px;
    top: -6rem;
    border: 3rem solid #04162671;
    box-shadow: 3rem 1px 1px #072c5292;
}
.eclipse-Mars {
    position: absolute;
    left: -52rem;
    background-color: #EF5F5F;
    padding: 10rem;
    border-radius: 100%;
    height: 1000px;
    width: 1000px;
    top: -6rem;
    border: 3rem solid #d65959;
    box-shadow: 3rem 1px 1px #c24e4e;
}
.eclipse-Jupiter {
    position: absolute;
    left: -52rem;
    background-color: #E29468;
    padding: 10rem;
    border-radius: 100%;
    height: 1000px;
    width: 1000px;
    top: -6rem;
    border: 3rem solid #d5804f;
    box-shadow: 3rem 1px 1px #c87341;
}
.eclipse-Saturnus {
    position: absolute;
    left: -52rem;
    background-color: #C7AA72;
    padding: 10rem;
    border-radius: 100%;
    height: 1000px;
    width: 1000px;
    top: -6rem;
    border: 3rem solid #bd9b56;
    box-shadow: 3rem 1px 1px #c7a356b6;
}
.eclipse-Uranus {
    position: absolute;
    left: -52rem;
    background-color: #8498ca;
    padding: 10rem;
    border-radius: 100%;
    height: 1000px;
    width: 1000px;
    top: -6rem;
    border: 3rem solid #97aadb;
    box-shadow: 3rem 1px 1px #aab8e0;
}
.eclipse-Neptunus {
    position: absolute;
    left: -52rem;
    background-color: #7A91A7;
    padding: 10rem;
    border-radius: 100%;
    height: 1000px;
    width: 1000px;
    top: -6rem;
    border: 3rem solid #6382a0;
    box-shadow: 3rem 1px 1px #537696;
}

.text-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
    height: 100vh;
}

.planet-title {
    color: #fff;
    text-transform: uppercase;
    font-family: 'Secular One', sans-serif;
    font-weight: 400;
    font-size: 3rem;
    letter-spacing: 5px;
    padding-bottom: .5rem;
}
.latin-name {
    color: #FFD029;
    text-transform: uppercase;
    font-family: 'Lora', serif;
    font-size: 1.2rem;
    letter-spacing: .5rem;
    padding-bottom: 2rem;
}
.info-paragraph {
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 1.1rem;
    line-height: 30px;
}
.hr {
    margin: 2rem 0;
    opacity: 20%;
}
h4 {
    color: #fff;
    font-family: 'Secular One', sans-serif;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
}
.first-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
.info {
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    letter-spacing: 2px;
    padding-top: .5rem;
    padding-bottom: 2rem;
}

.overlay-Solen {
    background-image: linear-gradient(to right, #ebcd5f , #baa52a);
}
.overlay-Venus {
    padding-top: 20rem;
    background-image: linear-gradient(to right, #E7CDCD , #d2a6a6);
    overflow: scroll;
}
.overlay-Jorden {
    padding-top: 10rem;
    background-image: linear-gradient(to right, #0C164D , #190B22);
    overflow: scroll;
}
.overlay-Merkurius {
    background-image: linear-gradient(to right, #7e7e7e , #41413f);
}
.overlay-Mars {
    background-image: linear-gradient(to right, #be6b6b , #bc3838);
}
.overlay-Jupiter {
    background-image: linear-gradient(to right, #E29468 , #c2913c);
}
.overlay-Saturnus {
    background-image: linear-gradient(to right, #C7AA72 , #d2b47f);
}
.overlay-Uranus {
    background-image: linear-gradient(to right, #C9D4F1 , #8ba8e3);
}
.overlay-Neptunus {
    background-image: linear-gradient(to right, #7A91A7 , #495d86);
}
.stars {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url(http://www.script-tutorials.com/demos/360/images/stars.png)
        repeat top center;
}

